@charset "utf-8";
/* CSS Document */
body,html {margin:0; padding:0;}
body {
	background-color:#fffacc;
	font-family:Verdana, Geneva, sans-serif;
	color:#94667a;
}

a {
	color:#94667a;
	text-decoration:underline;
}
a:hover {
	color:#9a6c82;	
}

h1,h2,h3 {
	color: #78485d;	
}



#site_wrapper {
	width:1000px;	
	margin:0 auto;
}

#box_faq {
	width:300px;
	float:left;	
	margin-right:30px;
}

#box_validation {
	width:670px;	
}